# ==================================================
# Ignore everything by default
# ==================================================
*

# ==================================================
# Allow only root YAML configs (ideas & logic)
# ==================================================
!/*.yaml
!/*.py

# ==================================================
# Explicit exclusions
# ==================================================
secrets.yaml

# ==================================================
# Allow documentation
# ==================================================
!README.md

# ==================================================
# Keep gitignore itself
# ==================================================
!.gitignore
